<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.schedule.mapper.IndexMapper">

	<resultMap type="com.victorzhang.schedule.pojo.User" id="user">
		<id column="userid" property="userid"/>
		<result column="roleid" property="roleid"/>
		<result column="departid" property="departid"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="realname" property="realname"/>
		<result column="useridcard" property="useridcard"/>
		<result column="usermobile" property="usermobile"/>
		<result column="usermail" property="usermail"/>
		<result column="randomcode" property="randomcode"/>
	</resultMap>

	<!-- 根据map查找数据库users表是否存在该数据 -->
	<select id="querryUser" resultMap="user" parameterType="java.util.Map">
		select t.userid,t.roleid,t.departid,t.realname from users t
		where t.username = #{username} and t.password = #{password}
	</select>

	<!-- 查找是否存在邮箱地址为email的用户 -->
	<select id="querryUserByEamil" resultMap="user"  parameterType="java.lang.String">
		select username,usermail,randomcode from
		users
		where usermail=#{email}
	</select>
	
	<!-- 查找是否存在用户名为username的用户 -->
	<select id="querryUserByUsername" resultMap="user"  parameterType="java.lang.String">
		select userid,username,randomcode from
		users
		where username=#{username}
	</select>
	
	<!-- 根据map查找数据库users表是否存在该数据 -->
	<update id="doUpdatePwd" parameterType="java.util.Map">
		update users set password = #{password}
		where userid = #{userid}
	</update>
	
</mapper>