<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.victorzhang.schedule.mapper.LogMapper">

	<!-- 加入日志-->
	<insert id="addLog" parameterType="java.util.Map">
		insert into log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="logid != null and logid != ''">
				logid,
			</if>
			<if test="loglx != null and loglx != ''">
				loglx,
			</if>
			<if test="logms != null and logms != ''">
				logms,
			</if>
			<if test="userid != null and userid != ''">
				userid,
			</if>
			<if test="userdate != null and userdate != ''">
				userdate,
			</if>
			<if test="userip != null and userip != ''">
				userip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="logid != null and logid != ''">
				#{logid},
			</if>
			<if test="loglx != null and loglx != ''">
				#{loglx},
			</if>
			<if test="logms != null and logms != ''">
				#{logms},
			</if>
			<if test="userid != null and userid != ''">
				#{userid},
			</if>
			<if test="userdate != null and userdate != ''">
				#{userdate},
			</if>
			<if test="userip != null and userip != ''">
				#{userip},
			</if>
		</trim>
	</insert>
	
</mapper>